github "ReactiveX/RxSwift"
github "baveku/Moya"
github "ra1028/DifferenceKit"
github "tristanhimmelman/ObjectMapper"
github "ninjaprox/NVActivityIndicatorView"
github "Swinject/Swinject"
github "baveku/Texture"
github "baveku/IGListKit"
